.finbinbanerr-bg {
  width: 750px;
  height: 1508px;
  background: #f5f5f5;
}
.finbinbanerr-img {
  margin-top: 62px;
  margin-left: 274px;
  width: 205px;
  height: 204px;
}
.finbinbanerr-text1 {
  margin-top: 52px;
  height: 60px;
  font-size: 44px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 60px;
  text-align: center;
}
.finbinbanerr-text2 {
  margin-top: 20px;
  margin-left: 108px;
  width: 536px;
  font-size: 29px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 40px;
  text-align: center;
}
.finbinbanerr-button {
  margin-left: 24px;
  margin-top: 80px;
  width: 702px;
  height: 88px;
  background: #2283e2;
  border-radius: 44px;
  display: flex;
}
.finbinbanerr-buttontext {
  margin-left: 292px;
  margin-top: 24px;
  height: 42px;
  font-size: 30px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  line-height: 42px;
}
